@import "../node_modules/lbh-frontend/lbh/all";

//////////////////////////////////
// STYLES
// Write your custom styles here
// Help: https://design-system.hackney.gov.uk/developing/installing-from-npm#importing-styles
//////////////////////////////////

.lbh-playbook-layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  > .lbh-body {
    margin-top: 0;
  }
}

.lbh-playbook-nav {
  max-width: 30%;
}
.lbh-playbook-content {
  max-width: 60%;
}

.lbh-playbook-content ul {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 0;
  list-style-type: none;
  color: #0b0c0c;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 19px;
  line-height: 1.1875rem
}

.lbh-playbook-content *+ul {
  margin-top: 1.5em
}

@media (min-width: 40.0625em) {
  .lbh-playbook-content ul {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 23px;
      line-height: 1.4375rem
  }
}

.lbh-playbook-content ul ul {
  margin-top: 12px;
  margin-top: .75rem
}

.lbh-playbook-content ul>li+li {
  margin-top: 12px;
  margin-top: .75rem
}

.lbh-playbook-content ul {
  padding-left: 18px;
  padding-left: 1.125rem;
  list-style-type: disc
}

.lbh-playbook-content ul>li {
  margin-bottom: 0
}

.lbh-playbook-content ul ul {
  list-style-type: circle
}

.lbh-playbook-content img {
  max-width: 100%;
}

.lbh-playbook-content code {
  background: rgba(199, 199, 199, 0.1);
  border: 1px solid #900;
  border-radius: 4px;
  color: #900;
  display: inline-block;
  font-family: monospace;
  font-size: 0.86em;
  line-height: 1.4;
  padding: 1px 6px;
}
